<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-container">
    <div class="inline-fields">
      <div class="picture-url-field">
        <strong class="field-number">1- </strong> <%= f.label :picture_url %><br>
        <%= f.text_field :picture_url, class: 'text-field' %>
      </div>
      <div class="destination-url-field">
        <strong class="field-number">2- </strong> <%= f.label :destination_url %><br>
        <%= f.text_field :destination_url, class: 'text-field' %>
      </div>
    </div>
    <br>
    <div class="field">
      <strong class="field-number">3- </strong> <%= f.label :description %><br>
      <%= f.text_area :description, class: 'text-area' %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Add', :class => 'submit-btn' %>
    </div>
  </div>
<% end %>
