<div class="container">
  <h1 class="title">Listing ads</h1>

  <table class="ads-table">
    <thead class="ads-thead">
      <tr>
        <th>Preview</th>
        <th>Picture url</th>
        <th>Destination url</th>
        <th>Description</th>
        <th colspan="2"> Actions</th>
      </tr>
    </thead>

    <tbody class="ads-tbody">
      <% @ads.each do |ad| %>
        <tr>
          <td><img src="<%= ad.picture_url %>" height="60" width="60" align="middle"  /></td>
          <td><%= ad.picture_url %></td>
          <td><%= ad.destination_url %></td>
          <td><%= ad.description %></td>
          <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
          <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to "<button class='submit-btn'>New Ad</button>".html_safe, new_ad_path %>
</div>
<br>

