<!DOCTYPE html>
<html>
<head>
  <title>EurocaseAutos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="top-bar horizontally-aligned">
			<div class="sibyl-logo">
				<img src="<%= asset_path 'sibyl.png' %>">				
			</div>
			<div class="eurocase-logo">
				<img src="<%= asset_path 'eurocase-logo.png' %>">
			</div>
		</div>
	<%= yield %>

	</body>
</html>
